<div class="breadcrumbs">
    <span><span>
        <a href="#">Главная</a> /
        <a href="#">Наши новости</a> /
        <span class="breadcrumb_last">Текущая публикация</span>
    </span></span>
</div>