<footer class="footer">
    <div class="main-footer_top">
        <div class="container-fluid footer_top panelWrapper resizeWrp">
            <h2 style="text-align: center">FOOTER FOOTER FOOTER FOOTER FOOTER</h2>
            <!-- burger start-->
            <a href="" class="burger__button panelBtn">
                <span class="burger__button__icon"></span>
            </a>
            <!-- burger end -->
            <!-- footer_nav start -->
            <nav class="main-footer_nav panelToggle resizePanel">
                <ul class="main-footer_ul">
                    <li><a href="#">Оплата и доставка </a></li>
                    <li class="current-menu-item"><a href="#">Гарантия и обмен</a></li>
                    <li><a href="#">Новые поступления</a></li>
                    <li><a href="#">Акции</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>
            <!-- footer_nav end -->
            <!-- popup start -->
            <a href="#request" class="popup-show popup_css">Popup</a>
            <!-- popup end -->
        </div>
    </div>
</footer>
<!-- popup form start-->
//= popup-form.html
<!-- popup form end-->
<!-- loading JS Start -->
<script src="js/libs.js"></script>
<script src="js/main.js"></script>
<!-- loading JS End -->

<!--<Deject>-->
<!-- stylesheet vas delet for production -->
<link rel="stylesheet" href="css/development.css"><!-- script vas delet for production -->
<script src="js/development.js"></script>
<!-- scrollup vas delet for production -->
<div id="scrollup"><i class="icon-up-big"></i></div>
<div id="scrollDown"><i class="icon-down-big"></i></div>
<!--</Deject>-->

</body>

</html>
