//----flex-row
//----flex-row-wrap
//----flex-row-nowrap
//----flex-row-wrap-reverse
//----flex-row-wrap-reverse
//----flex-row.reverse
//----flex-col
//----flex-col.reverse
//----flex-items-center
//----flex-items-between
//----flex-items-around
//----flex-items-right
//----flex-items-left
//----flex-items-baseline
//----flex-items-stretch
//----flex-items-middle
//----flex-items-bottom
//----flex-items-top
//----flex-content-stretch
//----flex-content-around
//----flex-content-between
//----flex-content-middle
//----flex-content-bottom
//----flex-content-top

/* Flex System */
.flex-col,
.flex-row,
[class*="flex-row"]
    display: flex
    > [class*="col"]
        float: none !important
[class*="flex-row"]
    flex-direction: row
    
.flex-row
    &-wrap
        flex-wrap: wrap
    &-nowrap
        flex-wrap: nowrap
    &-wrap-reverse
        flex-wrap: wrap-reverse
    &.reverse
        flex-direction: row-reverse

.flex-col
    flex-direction: column
    &.reverse
        flex-direction: column-reverse

/*flex justify content */
.flex-items-center
    justify-content: center
.flex-items-between
    justify-content: space-between
.flex-items-around
    justify-content: space-around
.flex-items-right
    justify-content: flex-end
.flex-items-left
    justify-content: flex-start

/*flex align items */
.flex-items-baseline
    align-items: baseline
.flex-items-stretch
    align-items: stretch
.flex-items-middle
    align-items: center
.flex-items-bottom
    align-items: flex-end
.flex-items-top
    align-items: flex-start

/*flex align content */
.flex-content-stretch
    align-content: stretch
.flex-content-around
    align-content: space-around
.flex-content-between
    align-content: space-between
.flex-content-middle
    align-content: center
.flex-content-bottom
    align-content: flex-end
.flex-content-top
    align-content: flex-start
/* Flex System end*/