//-----------------------------------background-fon map
$background-fon: (white: $fon-white, brand: $fon-brand);
//-----------------------------------background fon generate class
.fon {
    @each $fon,
    $background in $background-fon {
        &-#{$fon} {
            background: $background;
        }
    }
}

// .block {@extend .fon-white;}
// .block {@extend .fon-brand;}
