//---------------------------------------var
$base_color-list-style:    $color-default
$base_fontello-list-icon: '\f219'
$base_indent-style:        15px
//--------------------------------table
$base_color-table-border:  $color-default
$base_indent-tble-top:     10px
$base_indent-tble-bottom:  10px
//--------------------------------blockquote
$base_bg-bq:               #f9f9f9
$base_border-left-bq:      3px
$base_border-color-bq:     $color-default
$base_icon-color-bq:       $color-default
$base_icon-list-bq:        '\f10d'
//--------------------------------title
$base_indent-title-sub:    30px
$base_indent-title-df:     30px
//---------------------------------------var end

html,
body,
#wrapper
	width: 100%

body,
input,
button,
textarea
	-webkit-apperance: none
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
.clearfix
	@include clearfix
.hidden
	display: none
.overflow
	overflow: hidden

.content
	min-height: calc(100vh - 379px)
body
	font-size: $font-size-base
	color: $color-default
	line-height: 1.6
	//@include fregular
	//overflow-x: hidden 
.pull-right
	float: right
.pull-left
	float: left

//--------------------------------background-fon
.fon
	@each $fon, $background in $background-fon
		&-#{$fon}
			background: $background

//--------------------------------typography style
.alignright
	float: right
	margin: 0 0 $base_indent-style 40px
.alignleft
	float: left
	margin: 0 40px $base_indent-style 0
.aligncenter
	display: block
	margin: 0 auto $base_indent-style 
img
	height: auto
	max-width: 100%
.inline-center
	text-align: center

.extension
	counter-reset: list 0

a
	.current-menu-item &
		color: red


//--------------------------------tlist style
ol:not([class]),
ul:not([class]),
.list-style
	padding: 0 0 0 20px
	li
		position: relative
		overflow: hidden
		margin: 3px 0
		padding: 0 0 0 30px
		&:before
			display: block
			position: absolute
			top: 0
			left: 1px
ul:not([class]),
.list-style
	li
		&:before
			//--------------------------fontello style
			//content: $base_fontello-list-style
			//font-size: 16px
			//font-family: 'fontello'
			//color: $base_color-list-style
			//--------------------------defult style
			content: ''
			border: 6px solid transparent
			border-left: 6px solid $base_color-list-style
			top: 6px
ol:not([class]),
.list-style
	counter-reset: li
	li
		&:before
			content: counter(li)
			counter-increment: li 
			color: $base_color-list-style
			//@include fblack
			//font-size: $font-xm
.extension 
	ol
		counter-reset: section
		li
			&:before
				counter-increment: list 1
				content: counter(list) "."

.text-style
	//--------------------------------table
	table
		width: 100%
		vertical-align: middle
		margin: 0 0 $base_indent-style
		//border: 1px solid $base_color-table-border
	th
		text-transform: uppercase
		border: 1px solid $base_color-table-border
		padding: $base_indent-tble-top $base_indent-tble-bottom
		//font-size: $font-size-base
	td
		border: 1px solid $base_color-table-border
		padding: $base_indent-tble-top $base_indent-tble-bottom
		//font-size: $font-size-base

	//--------------------------------figure
	figure
		display: flex
		align-items: center
		margin: 30px 0
		//border: 1px solid $color-default-light
		p
			margin: 0
		img
			display: block
		figcaption
			display: flex
			align-items: center
			color: $color-default
			font-size: 18px
			max-width: 50%
			padding: 10px 40px
			//border-left: 1px solid $color-default-light
			//@include fbold

	//--------------------------------text style
	a
		text-decoration: underline
		color: $color-default
		&:hover
			text-decoration: none
			//color: $color-accent
	p,
	li
		margin: 0 0 $base_indent-style
		//font-size: $font-default

	b,
	strong
		//@include fbold
		color: $color-default
	i,
	em
		//@include flightit

//--------------------------------blockquote
blockquote
	position: relative
	line-height: 24px
	background: $base_bg-bq
	margin: 30px 0
	border-left: $base_border-left-bq solid $base_border-color-bq
	padding: 30px 20px 30px 90px
	overflow: hidden
	//font-size: $font-default
	//@include foregular
	&:before
		color: $base_icon-color-bq
		position: absolute
		top: 30px
		left: 30px
		//--------------------------fontello style
		// content: $base_icon-list-bq
		// font-size: 30px
		// font-family: 'fontello'
		//--------------------------defult style
		content: $base_icon-list-bq
		font-size: 60px
		font-weight: 100

//--------------------------------title style default
.main-page
	.h
		@each $title-main, $size in $title-main-size
			&#{$title-main}
				font-size: $size
				line-height: normal
	h
		@each $title-main, $size in $title-main-size
			&#{$title-main}
				font-size: $size
				line-height: normal
	h1,
	.h1
		text-transform: uppercase
		margin: $base_indent-title-df 0
		text-align: center
		// 	@include fbold
	h2,
	.h2
		text-transform: uppercase
		margin: $base_indent-title-df 0
		text-align: center
		// 	@include fbold
	h3,
	.h3
		text-transform: uppercase
		margin: $base_indent-title-df 0
		text-align: center
		// 	@include fbold
	h4,
	.h4
		text-transform: uppercase
		margin: $base_indent-title-df 0
		text-align: center
		// 	@include fbold
	h5,
	.h5
		text-transform: uppercase
		margin: $base_indent-title-df 0
		text-align: center
		// 	@include fbold
	h6,
	.h6
		text-transform: uppercase
		margin: $base_indent-title-df 0
		text-align: center
		// 	@include fbold


//--------------------------------title style sub page
.sub-page
	.h
		@each $title, $size-sub in $title-size-sub
			&#{$title}
				font-size: $size-sub
				line-height: normal
				color: $color-default
	h
		@each $title, $size-sub in $title-size-sub
			&#{$title}
				font-size: $size-sub
				line-height: normal
				color: $color-default

	h1,
	.h1
		text-transform: uppercase
		margin: $base_indent-title-sub 0
		text-align: center
		// 	@include fbold
	h2,
	.h2
		text-transform: uppercase
		margin: $base_indent-title-sub 0
		text-align: center
	h3,
	.h3
		text-transform: uppercase
		margin: $base_indent-title-sub 0
		text-align: center
		// 	@include fbold
	h4,
	.h4
		text-transform: uppercase
		margin: $base_indent-title-sub 0
		text-align: center
		// 	@include fbold
	h5,
	.h5
		text-transform: uppercase
		margin: $base_indent-title-sub 0
		text-align: center
		// 	@include fbold
	h6,
	.h6
		text-transform: uppercase
		margin: $base_indent-title-sub 0
		text-align: center
		// 	@include fbold

//----------------media
@include breakpoint(desktop)     //---max-width 1200
	/**/
@include breakpoint(laptop)      //---max-width 992
	/**/
@include breakpoint(tablet)      //---max-width 768
	/**/
@include breakpoint(phone)       //---max-width 480
	/**/
@include breakpoint(mobileonly)  //---max-width 320
	/**/


