//-----------------------------------spacing
$s_default: 15px;
$s:         10px;
$s_double:  $s * 2;
$s_third:   $s * 3;
$s_fourth:  $s * 4;
$s_half:    $s / 2;

//---------------media point
//mobile
$screen-c: 320px;
//phone
$screen-xs: 480px;
//tablet
$screen-sm: 768px;
//laptop
$screen-md: 960px;
//pc
$screen-lg: 1170px;
//xl
$screen-xl: 1400px;
//full
$screen-full: 1920px;
//more_full
$screen-more_full: ($screen-full + 1px);

//------------------- grid system
$grid-columns: 		 12 !default;
$grid-gutter-width:  60px !default;

//-----------------------------------color
$color-white:           #fff;
$color-brand:			#008b6e;
$color-brand-light:     #0cc19b;
$color-dark:            darken($color-brand,30%);
$color-light:           lighten($color-brand,30%);
$c-t: 					#6a6a6a;

//-----------------------------------color background
$fon-white:           	#fff;
$fon-brand:             #008b6e;
$fon-brand-light:       #0cc19b;
$fon-dark:              darken($fon-brand,30%);
$fon-light:             lighten($fon-brand,30%);

//-----------------------------------color opacity
$dark_opacity:    rgba(#000, 0.95);
$white_opacity:   rgba(#fff, 0.3);

//-----------------------color form
$fon-input: transparent;
$color-input: #fff;
$color-placeholder: #fff;
