//---------------------------------------var
//--------------------------------default
$form_h-textarea:              200px
$form_indent-bottom:           15px

//--------------------------------default input
$form_border-size:             1px
$form_h-input:                 37px
$form_color-input:             $color-default
$form_border-color:            $color-default
$form_input-padding:           15px
$form_input-focus:             $color-default
$form_input-not-valid:         #d57517


//--------------------------------popup
$form_popup-bg:                $color-base
$form_popup-title-color:       $color-default
$form_popup-text-color:        $color-default
$form_popup-h-textarea:        $form_h-textarea

//--------------------------------popup button
$form_popup-btn-color:         $color-base
$form_popup-btn-br-size:       1px
$form_popup-btn-br-color:      #d57517
$form_popup-btn-bg:            #d57517
$form_popup-btn-radius:        5px
$form_popup-btn-pd-top:        15px
$form_popup-btn-width:         200px
$form_popup-btn-f-z:           20px
//--------------------------------popup button hover
$form_popup-btn-h-color:       $color-base
$form_popup-btn-h-br-color:    #d57517
$form_popup-btn-h-bg:          #d57517


//--------------------------------popup input
$form_popup-color-input:       $color-default
$form_popup-h-input:           $form_h-input
$form_popup-indent-bottom:     $form_indent-bottom
$form_popup-border-size:       $form_border-size
$form_popup-border-color:      $color-default
$form_popup-input-padding:     $form_input-padding
$form_popup-input-focus:       $form_input-focus
$form_popup-input-not-valid:   $form_input-not-valid

//---------------------------------------var end

//--------------------------------default input style
input[type="email"], 
input[type="number"],   
input[type="password"], 
input[type="search"],
input[type="tel"],   
input[type="text"],     
input[type="url"],      
input[type="color"],
input[type="date"],  
input[type="datetime"], 
input[type="datetime-local"],
input[type="month"], 
input[type="time"],     
input[type="week"]
	height: $form_h-input
	color: $form_color-input
	display: block
	width: 100%
	margin: 0 0 $form_indent-bottom 0
	border: $form_border-size solid $form_border-color
	padding: 0 $form_popup-input-padding
	&:focus
		border: $form_border-size solid $form_input-focus
	&.wpcf7-not-valid
		border: $form_border-size solid $form_input-not-valid

//--------------------------------default textarea style
textarea
	height: $form_h-textarea
	padding: $form_input-padding
	color: $form_color-input
	display: block
	width: 100%
	margin: 0 0 $form_indent-bottom 0
	border: $form_border-size solid $form_border-color
	&:focus
		border: $form_border-size solid $form_input-focus
	&.wpcf7-not-valid
		border: $form_border-size solid $form_input-not-valid

//--------------------------------default jq-select style
//---------------------------------------var default select
$form_select-bg:                $color-base
$form_select-border:            $color-default
$form_select-h:                 37px
$form_select-border-size:       1px
$form_select-hover:             #f1f1f1
$form_select-color:             $color-default
$form_select-color-arrow:       $color-default

select
	appearance: none
	text-indent: 0.01px
	text-overflow: ''
	//background: url(../img/icons/arrow-sel.png) right center no-repeat $form_select-bg
	border: $form_select-border-size solid $form_select-border
	cursor: pointer
	padding: 0 20px 0 $form_input-padding
	&::-ms-expand
		display: none

//---------------------------------------var end
.style-input
	.jq-selectbox
		margin: 0 0 $form_indent-bottom 0
		background: $form_select-bg
		width: 100%
		z-index: 11 !important
		&.opened
			ul
				border-bottom: $form_select-border-size solid $form_select-border
				li
					border-left: $form_select-border-size solid $form_select-border
					border-right: $form_select-border-size solid $form_select-border
			.jq-selectbox__select
				border: $form_select-border-size solid $form_select-border
		ul
			max-height: 544px
			background: $form_select-bg
			padding: 0
			z-index: 0
			border-bottom: $form_select-border-size solid $form_select-border
			li
				background: $form_select-bg
				width: 100%
				padding: 4px $form_input-padding
				cursor: pointer
				border-left: $form_select-border-size solid $form_select-border
				border-right: $form_select-border-size solid $form_select-border
				color: $form_select-color
				&.sel,
				&:hover
					background: $form_select-hover
		&__select
			height: $form_select-h
			line-height: $form_select-h - $form_select-border-size*2
			padding: 0 $form_input-padding + ($form_select-h - $form_select-border-size*2) 0 $form_input-padding
			border: $form_select-border-size solid $form_select-border
			background: transparent
			box-shadow: none
			position: relative
			&-text
				text-overflow: ellipsis
				white-space: nowrap
				overflow: hidden
				color: $form_select-color
				//text-transform: uppercase
		&__trigger
			z-index: 1
			border: none
			position: absolute
			cursor: pointer
			top: 0 
			bottom: 0
			right: 0
			height: $form_select-h - $form_select-border-size*2
			width: $form_select-h - $form_select-border-size*2
			&-arrow
				height: $form_select-h - $form_select-border-size*2
				width: $form_select-h - $form_select-border-size*2
				top: 0
				right: 0
				border: none
				border-left: $form_select-border-size solid $form_select-border
				&:before
					content: '\e809'
					position: absolute
					font-family: 'fontello'
					right: 18px
					top: 50%
					right: 50%
					margin: -16px -5px
					color: $form_select-color-arrow
					font-size: 22px
		&__dropdown
			//bottom: 0
			left: 0
			right: 0
			top: 100% !important
		&.opened
			.jq-selectbox__trigger
				&-arrow
					&:before
						//@include transform (rotate(180deg))
						transform: rotate(180deg)

	//--------------------------------default radio check style
	//---------------------------------------var radio check style
	$form_ch-rd-bg:                 $color-base
	$form_ch-rd-border-size:        1px
	$form_ch-rd-border-color:       $color-default
	$form_ch-rd-size:               20px
	$form_ch-rd-ch-size:            8px
	$form_ch-rd-ch-color:           $color-default
	//---------------------------------------var radio check style end
	.wpcf7-checkbox,
	.wpcf7-radio 
		.wpcf7-list-item
			// width: 50%
			// float: left
			display: block
			margin: 0 0 $form_indent-bottom
			a
				color: $color-default
	.jq-radio
		cursor: pointer
		background: $form_ch-rd-bg
		border-radius: 0
		box-shadow: none
		width: $form_ch-rd-size
		height: $form_ch-rd-size
		border: $form_ch-rd-border-size solid $form_ch-rd-border-color
		margin-right: 5px
		vertical-align: middle
		border-radius: 50%
		&.checked 
			.jq-radio__div
				width: auto
				height: auto
				position: relative
				background: transparent
				box-shadow: none
				margin: 0
				width: 100%
				height: 100%
				&:before
					content: ''
					position: absolute
					width: $form_ch-rd-ch-size
					height: $form_ch-rd-ch-size
					top: 50%
					left: 50%
					margin: -$form_ch-rd-ch-size / 2
					border-radius: 50%
					background: $form_ch-rd-ch-color
	.jq-radio.checked  ~ .wpcf7-list-item-label,
	.jq-checkbox.checked  ~ .wpcf7-list-item-label
		//color: #2a2a2a
	.jq-checkbox
		cursor: pointer
		background: $form_ch-rd-bg
		border-radius: 0
		box-shadow: none
		width: $form_ch-rd-size
		height: $form_ch-rd-size
		border: $form_ch-rd-border-size solid $form_ch-rd-border-color
		margin-right: 5px
		vertical-align: middle
		&.checked 
			.jq-checkbox__div
				width: auto
				height: auto
				position: relative
				background: transparent
				box-shadow: none
				margin: 0
				width: 100%
				height: 100%
				&:before
					content: ''
					position: absolute
					width: $form_ch-rd-ch-size
					height: $form_ch-rd-ch-size
					top: 50%
					left: 50%
					margin: -$form_ch-rd-ch-size / 2
					background: $form_ch-rd-ch-color


span.wpcf7-not-valid-tip,
.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok,
.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors
	display: none !important


//--------------------------------default popup style
.popup-wrp
	max-width: 755px
	margin: 0 auto
	position: relative
	padding: 30px
	background: $form_popup-bg

	//--------------------popup input style
	input[type="email"], 
	input[type="number"],   
	input[type="password"], 
	input[type="search"],
	input[type="tel"],   
	input[type="text"],     
	input[type="url"],      
	input[type="color"],
	input[type="date"],  
	input[type="datetime"], 
	input[type="datetime-local"],
	input[type="month"], 
	input[type="time"],     
	input[type="week"]
		height: $form_popup-h-input
		color: $form_popup-color-input
		display: block
		width: 100%
		margin: 0 0 $form_popup-indent-bottom 0
		border: $form_popup-border-size solid $form_popup-border-color
		padding: 0 $form_popup-input-padding
		&:focus
			border: $form_popup-border-size solid $form_popup-input-focus
		&.wpcf7-not-valid
			border: $form_popup-border-size solid $form_popup-input-not-valid

	//--------------------popup textarea style
	textarea
		height: $form_popup-h-textarea
		padding: $form_popup-input-padding
		color: $form_popup-color-input
		display: block
		width: 100%
		margin: 0 0 $form_popup-indent-bottom 0
		border: $form_popup-border-size solid $form_popup-border-color
		&:focus
			border: $form_popup-border-size solid $form_popup-input-focus
		&.wpcf7-not-valid
			border: $form_popup-border-size solid $form_popup-input-not-valid

	//--------------------popup ibutton
	.popup-close,
	button.popup-close,
	a.popup-close,
	input[type=submit]
		transition: all .3s linear
		color: $form_popup-btn-color
		position: relative
		background: $form_popup-btn-bg
		border: $form_popup-btn-br-size solid $form_popup-btn-br-color
		border-radius: $form_popup-btn-radius
		padding: $form_popup-btn-pd-top 0
		width: 100%
		max-width: $form_popup-btn-width
		font-size: $form_popup-btn-f-z
		&:hover
			color: $form_popup-btn-h-color
			border: $form_popup-btn-br-size solid $form_popup-btn-h-br-color
			background: $form_popup-btn-h-bg

	//--------------------popup text style
	h2
		color: $color-default
		text-align: center
		margin-top: 0
		font-size: $font-lg-x
		text-transform: uppercase
		line-height: normal
		//@include fbold
	p,
	label
		color: $form_popup-text-color

//--------------------popup close
//---------------------------------------var cross close

$form_cross-close-size:              28px

//---------------------------------------var cross close end
//---------------------------------------style cross close
.close-click,
.mfp-close
	color: $color-default
	width: $form_cross-close-size
	height: $form_cross-close-size
	line-height: $form_cross-close-size
	font-size: 45px
	z-index: 1
	&:before
		// content: '\e857'
		// position: absolute
		// font-family: 'fontello'
		// font-size: 18px
		// top: -13px
		// left: 38px
.close-click
	border: none
	background: transparent
	position: absolute
	top: 0
	right: 0

//----------------media
@include breakpoint(desktop)     //---max-width 1200
	/**/
@include breakpoint(laptop)      //---max-width 992
	/**/
@include breakpoint(tablet)      //---max-width 768
	.popup-wrp
		max-width: 420px
		h2
			font-size: $font-md-big
@include breakpoint(phone)       //---max-width 480
	.popup-wrp
		max-width: 300px
@include breakpoint(mobileonly)  //---max-width 320
	/**/

