// #popup
.popup_css {
    position: absolute;
    right: 0;
    top: 0;
}
// #footer
.footer {
    &_top {
        padding: $s_fourth 0;
        background-color: $fon-brand;
        position: relative;
        min-height: 30px;
    }
    // #footer_nav
    .main-footer_nav a {
        color: $color-white;
        @include fs(16px);
        display: block;
        padding: 15px 0;
        &:hover {
            color: $color-dark;
            text-decoration: underline;
        }
    }
    .main-footer_ul {
        display: flex;
    }
    // #media
    @include respond-to(wide_handhelds) {
        .main-footer_nav {
            display: none;
        }
        .main-footer_ul {
                display: block;
            li {
                text-align: center;
            }
        }
        .cancel-panel {
            display: inline-block;
            z-index: 99;
        }
        .show-panel {
            display: none;
        }
        .burger__button {
            display: block;
        }
    }
}

// # burger
.nav-toggle {
    position: relative;
}

.nav-toggle_burger {
    z-index: 99;
    color: #fff;
    border: none;
    background: 0 0;
    width: 20px;
    height: 18px;
    padding: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
    span {
        border-radius: 3px;
        display: block;
        width: 20px;
        height: 4px;
        background: #ffffff;
    }
}

.burger__button {
    position: absolute;
    display: none;
    width: 25px;
    height: 25px;
    transition: all .5s ease;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 9%;
    background: transparent;
    box-shadow: 0 0 8px -2px #333;
    .footer & {
        top: 0px;
        left: 0px;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5;
    }
}

.burger__button__icon {
    top: 48%;
    display: block;
    width: 27px;
    height: 6px;
    transform: translateY(-1px);
}

.burger__button__icon,
.burger__button__icon:after,
.burger__button__icon:before {
    position: absolute;
    left: 0;
    width: 20px;
    height: 4px;
    margin: 0 auto;
    transition: all .5s ease;
    background: #fff;
    right: 0;
    border-radius: 13px;
}

.burger__button__icon:after,
.burger__button__icon:before {
    content: "";
}

.burger__button__icon:before {
    bottom: 8px;
}

.burger__button__icon:after {
    top: 8px;
}

// #js-open
.js-open .burger__button__icon {
    background: 0 0;
}

.js-open .burger__button__icon:after,
.js-open .burger__button__icon:before {
    left: 4px;
    width: 20px;
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.js-open .burger__button__icon:before {
    transform: rotateZ(0.89474rad);
}

.js-open .burger__button__icon:after {
    transform: rotateZ(-0.89474rad);
}
