//= template/core/header.html
<div class="container-fluid">
    //= template/core/breadcrumbs.html
</div>
<div class="container-fluid">
    //= template/page/article/article.html
</div>
<div class="container-fluid">
    //= template/core/scroll.html
</div>
<div class="container-fluid">
    //= template/core/map.html
</div>
//= template/core/footer-map.html